<% if @survey.questions.any? %>
  <% @survey.answers_by_question.each do |question, answers| %>
    <h4><%= question.title %></h4>
    <% if answers.any? %>
     
      <% case question.field_type %>
      <% when "RadioSelect" %>
        <%= answers_for_radio_select answers %>
      <% when "Textarea" %>
        <%= answers_for_textarea answers %>
      <% when "Checkbox" %>
        <%= answers_for_checkbox answers %>
      <% else %>
        <p><%= answers.first.text %></p>
      <% end %>
      
    <% else %>
      <p>n/a</p>
    <% end %>
  <% end %>
<% end %>
