<li>
  <%= label_tag "survey[answers_attributes][#{index}][text]", question.title + show_required(question) %>
  <%= hidden_field_tag "survey[answers_attributes][#{index}][question_id]", question.id %>
  <% if !answer.new_record? %>
    <%= hidden_field_tag "survey[answers_attributes][#{index}][id]", answer.id %>
  <% end %>
  <%= text_area_tag "survey[answers_attributes][#{index}][text]", answer.text %>
  <%= error_messages_for(answer) %>
</li>
